//main: App.scss

.petTypeListItem{
  width: clamp(250px, 60%, 500px);
  text-align:center;
  margin: 15px auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(black, 0.66) 0 30px 60px 0,
  inset rgba(white, 0.5) 0 0 0 6px;
  filter:drop-shadow(2px 2px 2px grey);
  &__img-wrap{
    max-width: clamp(300px, 55%, 400px);
    margin: 0 auto;
    img{
      max-width: 100%;
    }
  }
}
