//main: App.scss

.postBreed {
  h3 {
    text-align: center;
    color: white;
  }
  form {
    padding: 0.5rem;
    margin: auto;
    border-radius: 2px;
    min-height: 450px;
    max-width: 250px;
    @include flex(space-around, center, column);
    background: #fff;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
      0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }
  label {
    color: white;
    padding: 0 0.3rem;
    font-size: 0.8rem;
  }
  input,
  textarea {
    padding: 0.2rem;
    width: 100%;
  }
  button {
    width: 100%;
    padding: 0.5em;
    border: none;
    cursor: pointer;
  }
}
