//main: App.scss

.profile {
  text-align: center;
  &__personal {
    @include flex(space-around, center, row);
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 1rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}

.profile-comments {
  max-width: 300px;
  padding: 0.5rem;
  background-color: #dee1e394;
  margin: 5px auto;
}

.paw-icon {
  vertical-align: middle;
  margin: 0 6px;
  font-size: 1.6rem;
}

.edit-icon {
  margin: 0 4px;
  font-size: 1.1rem;
  cursor: pointer;
  &__wrap {
    text-align: right;
  }
}
